@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #171717;
  --popover: #ffffff;
  --popover-foreground: #171717;
  --primary: #171717;
  --primary-foreground: #ffffff;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #171717;
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
    --background: #ededed;
    /* --foreground: rgb(110.6,110.6,110.6); */
    --foreground: #00281e;

    --track-background: #e3e3e3;
    --track-foreground: #00281e;
    --card: #ededed;
    --card-foreground: #0e0e0e;
    --popover: #ededed;
    --popover-foreground: #0e0e0e;
    --primary: #03421d;
    --primary-foreground: #ededed;
    --secondary: #1a1a1a;
    --secondary-foreground: #ededed;
    --muted: #1a1a1a;
    --muted-foreground: #a3a3a3;
    --accent: #1a1a1a;
    --accent-foreground: #ededed;
    --destructive: #ef4444;
    --destructive-foreground: #ededed;
    --border: #262626;
    --input: #262626;
    --ring: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

button-primary {
  background-color: var(--primary);
  color: var(--primary-foreground);
  border: none;
  padding: 10px 20px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
button-primary:hover {
  background-color: var(--primary-hover);
  color: var(--primary-foreground);
}
